<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>servlet.loginservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfaculty</servlet-name>
        <servlet-class>servlet.addfaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addroutes</servlet-name>
        <servlet-class>servlet.addroutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbuses</servlet-name>
        <servlet-class>servlet.addbuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstudent</servlet-name>
        <servlet-class>servlet.addstudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfaculty</servlet-name>
        <url-pattern>/addfaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addroutes</servlet-name>
        <url-pattern>/addroutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbuses</servlet-name>
        <url-pattern>/addbuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
